{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    {% if property.propertiesimages_set.first.link %}
        <div class="site-blocks-cover overlay"
             style="background-image: url({{ property.propertiesimages_set.first.link }});" data-aos="fade"
             data-stellar-background-ratio="0.5">
    {% else %}
        <div class="site-blocks-cover overlay"
             style="background-image: url(https://via.placeholder.com/800x450.png?text=No+Image+Found);" data-aos="fade"
             data-stellar-background-ratio="0.5">
    {% endif %}
<div class="container">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10">
            <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
            <h1 class="mb-2">{{ property.address.streetName }} {{ property.address.houseNumber }}</h1>
            <p class="mb-5"><strong class="h2 text-success font-weight-bold"
                                    id="price1">{{ property.price|intcomma }}
                ISK</strong>
            </p>
        </div>
    </div>
</div>
</div>

    <div class="site-section site-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="margin-top: -150px;">
                    <div class="mb-5">
                        <div class="slide-one-item home-slider owl-carousel">
                            {% if property.propertiesimages_set.first.link %}
                                {% for image in property.propertiesimages_set.all %}
                                    <div>
                                        <img src="{{ image.link }}" alt="{{ image.text }}"
                                             class="img-thumbnail property-images">
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div>
                                    <img src="https://via.placeholder.com/800x450.png?text=No+Image+Found"
                                         alt="No Image Found"
                                         class="img-thumbnail">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <strong class="text-success h1 mb-3" id="price2">{{ property.price|intcomma }}
                                    ISK</strong>
                                <select name="offer-types" id="currency" class="form-control rounded">
                                    <option value="ISK">ISK</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="GBP">GBP</option>
                                    <option value="JPY">JPY</option>
                                    <option value="NOK">NOK</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                                    <li>
                                        <span class="property-specs">Rooms</span>
                                        <span class="property-specs-number">{{ property.rooms }}</span>
                                    </li>
                                    <li>
                                        <span class="property-specs">m<sup>2</sup></span>
                                        <span class="property-specs-number">{{ property.size }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                                <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
                                <strong class="d-block">{{ property.type|upper }}</strong>
                            </div>
                            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                                <span class="d-inline-block text-black mb-0 caption-text">Year Built</span>
                                <strong class="d-block">{{ property.yearBuilt }}</strong>
                            </div>
                            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                                {% if is_agent %}
                                    <a href="{% url "update-property" property.id %}"
                                       class="btn btn-primary btn-lg btn-block">Edit Property</a>
                                {% else %}
                                    {% if property.status == 'available' %}
                                        <a href="{% url "purchase" property.id %}"
                                           class="btn btn-primary btn-lg btn-block">Purchase</a>
                                    {% else %}
                                        <a class="btn btn-primary btn-lg btn-block disabled">Sold</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <h2 class="h4 text-black">More Info</h2>
                        <p>{{ property.description }}</p>

                        <div class="row mt-5">
                            <div class="col-12">
                                <h2 class="h4 text-black mb-3">Property Gallery</h2>
                            </div>
                            {% for image in property.propertiesimages_set.all %}
                                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                    <a href="{{ image.link }}" class="image-popup gal-item"><img src="{{ image.link }}"
                                                                                                 alt="{{ image.text }}"
                                                                                                 class="img-fluid gallery-image"></a>
                                </div>
                            {% endfor %}
                            {% if is_agent %}
                                <a href="{% url "add-images" property.id %}"
                                   class="btn btn-primary btn-lg btn-block">Add & Remove Images</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pl-md-5">

                    <div class="bg-white widget border rounded">
                        <h4 class="h4 text-black widget-title mb-3">Agent Name:</h4>
                        <p>{{ property.agent.name }}</p>
                        <img src="{{ property.agent.image }}" height="200px" class="img-thumbnail"/>
                        <div class="form-group">
                            <form method="post">
                                {% csrf_token %}
                                <h4 class="form-header">Send me a message</h4>
                                <div class="form-group">
                                    <label for="id_from_email">Email:</label>
                                    <input class="form-control" name="from_email" type="text" id="id_from_email"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="id_subject">Subject:</label>
                                    <input class="form-control" name="subject" type="text" id="id_subject" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_message">Message:</label>
                                    <textarea class="form-control" name="message" cols="40" rows="10"
                                              id="id_message" required></textarea>
                                </div>
                                <br>
                                <input type="submit" id="send" class="btn btn-primary" value="Send Message">
                            </form>
                        </div>
                    </div>

                    <div class="bg-white widget border rounded">
                        <h3 class="h4 text-black widget-title mb-3">Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit qui explicabo, libero nam,
                            saepe eligendi. Molestias maiores illum error rerum. Exercitationem ullam saepe, minus,
                            reiciendis ducimus quis. Illo, quisquam, veritatis.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
