{% comment %}<div>
    <a href="#">
        <div>
           {{ property.address }}
            <img src="{{ property.propertiesimages_set.first.link }}" width="200px"/>
            {{ property.type }}
            {{ property.price }}
        </div>

    </a>
</div>{% endcomment %}


<div class="card" style="width: 18rem;">

	<a href="#">
		<img class="card-img-top" src="{{ property.propertiesimages_set.first.link }}" width="200px"
			 alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ property.address }}</h5>
			<p class="card-text">{{ property.price }}</p>
		</div>
	</a>
</div>

{% comment %}

<div class="col-md-6 col-lg-4 mb-4">
	<a id="{{ property.id }}" href="/properties/{{ property.id }}" class="prop-entry d-block">
		<figure>
			<img src="{{ property.propertiesimages_set.first.link }}" alt="Image"
				 class="img-fluid">
		</figure>
		<div class="prop-text">
			<div class="inner">
				<span class="price rounded">${{ property.price }}</span>
				<h3 class="title">{{ property.address.streetName }} {{ property.address.houseNumber }}</h3>
				<p class="location">{{ property.address.city }}, {{ property.address.country }} {{ property.address.zipCode }}</p>
			</div>
			<div class="prop-more-info">
				<div class="inner d-flex">
					<div class="col">
						<span>Area:</span>
						<strong>{{ property.size }}m<sup>2</sup></strong>
					</div>
					<div class="col">
						<span>Rooms:</span>
						<strong>{{ property.room }}</strong>
					</div>
					<div class="col">
						<span>Year Built:</span>
						<strong>{{ property.yearBuilt }}</strong>
					</div>
					<div class="col">
						<span>Status:</span>
						<strong>{{ property.status }}</strong>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>{% endcomment %}
    <a href="#">
        <img class="card-img-top" src="{{ property.propertiesimages_set.first.link }}" width="200px"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ property.address }}</h5>
            <p class="card-text">{{ property.price }}</p>
        </div>
    </a>
</div>
