{% extends 'base.html' %}
{% block title %}Purchase{% endblock %}
{% block content %}
    <div class="site-blocks-cover overlay" style="background-image: url({{ property.propertiesimages_set.first.link }});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10">
            <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Purchasing Page for</span>
            <h1 class="mb-2">{{ property.address.streetName }} {{ property.address.houseNumber }}</h1>
            <p class="mb-5"><strong class="h2 text-success font-weight-bold">{{ property.price }} ISK</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section site-section-sm">
        <ul class="bc">
            <li class="bc_item"><a href="{% url "property-details" property.id %}">{{ property.address.streetName }} {{ property.address.houseNumber}}</a></li>
            <li class="bc_item bc_complete"><a href="#">Contact Details</a></li>
            <li class="bc_item">Confirmation</li>
        </ul>
      <div class="container">
        <div class="row">
        {% if user.is_authenticated and property.status == 'available' %}
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="form-header">Contact Information</h1>
                    <ul class="list-group">
                    {% for field in profileForm %}
                        <li class="list-group-item">
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field.as_widget }}
                        </li>
                    {% endfor %}
                    </ul>
                    <h1 class="form-header">Credit Card Information</h1>
                    <ul class="list-group">
                    {% for field in creditCardForm %}
                        <li class="list-group-item">
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field.as_widget }}
                        </li>
                    {% endfor %}
                    </ul>
                    <br>
                    <input type="submit" value="Continue" class="btn btn-primary btn-block form-control-same-height rounded-0"/>
                </form>
            </div>
            <div class="col-lg-3"></div>
        {% else %}
            <h1>This property is unavailable.</h1>
        {% endif %}
        </div>
      </div>
    </div>
{% endblock %}