{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
    <div class="site-section border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static '/images/about.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <div class="site-section-title mb-3">
                        <h2>Our Company</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus in cum odio.</p>
                    <p>Illum repudiandae ratione facere explicabo. Consequatur dolor optio iusto, quos autem voluptate
                        ea? Sunt laudantium fugiat, mollitia voluptate? Modi blanditiis veniam nesciunt architecto odit
                        voluptatum tempore impedit magnam itaque natus!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static 'images/office.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1" data-aos="fade-up" data-aos-delay="200">
                    <div class="site-section-title mb-3">
                        <h2>Our Office</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus in cum odio.</p>
                    <p>Illum repudiandae ratione facere explicabo. Consequatur dolor optio iusto, quos autem voluptate
                        ea? Sunt laudantium fugiat, mollitia voluptate? Modi blanditiis veniam nesciunt architecto odit
                        voluptatum tempore impedit magnam itaque natus!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section border-top bg-light">
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade-up">
                <div class="col-md-7">
                    <div class="site-section-title text-center">
                        <h2>Real Estate Agents</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for agent in agents %}
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member p-4">
                            <figure>
                                <a href="/agents/{{ agent.id }}">
                                    <img src="{{ agent.image }}" alt="Image"
                                         class="img-thumbnail rounded-circle carousel-image"/>
                                </a>
                            </figure>
                        </div>
                        <div class="text">
                            <a href="/agents/{{ agent.id }}">
                                <h2 class="mb-2 font-weight-light h4">{{ agent.name }}</h2>
                            </a>
                            <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                            <p>{{ agent.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}