{% extends "base.html" %}
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2>Image:</h2>
                    <img src="{{ user.profile.image }}" class="img-thumbnail">
                </div>
                <div class="col-lg-9">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" value="Update Profile" class="btn btn-primary btn-lg">
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
{% endblock %}